{% extends 'base.html.twig' %}
{% block title %}
    modifier
{% endblock %}
{% block body %}
    <div class="page-wrapper">
        <div class="page-content">

            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Modifier Commande</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-calendar-event"></i></a>
                            </li>

                        </ol>
                    </nav>
                </div>

            </div>
            <!--end breadcrumb-->

            <div class="card">
                <div class="card-body p-4">

                    <hr/>
                    <div class="form-body mt-4">

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="border border-3 p-4 rounded">
                                    {{ form_start(f,{ 'attr' : {'novalidate':'novalidate'} }) }}
                                    <div class="mb-3">
                                        <label for="inputPrice" class="form-label">Nom</label>
                                        {{ form_widget(f.nom ,  {'attr': {'class': 'form-control'}}) }}
                                        <ul class="custom-error">
                                        {{form_errors(f.nom)}}
                                        </ul>
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputPrice" class="form-label">Prenom</label>
                                        {{ form_widget(f.prenom ,  {'attr': {'class': 'form-control'}}) }}
                                        <ul class="custom-error">
                                            {{form_errors(f.prenom)}}
                                        </ul>
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputPrice" class="form-label">Etat</label>
                                        {{ form_widget(f.etat ,  {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputPrice" class="form-label">Addresse</label>
                                        {{ form_widget(f.adresse ,  {'attr': {'class': 'form-control'}}) }}
                                        {{form_errors(f.adresse)}}
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputPrice" class="form-label">Email</label>
                                        {{ form_widget(f.email ,  {'attr': {'class': 'form-control'}}) }}
                                        {{form_errors(f.email)}}
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputPrice" class="form-label">Telephone</label>
                                        {{ form_widget(f.telephone,  {'attr': {'class': 'form-control'}}) }}
                                        {{form_errors(f.telephone)}}
                                    </div>

{#                                    <div class="mb-3">#}
{#                                        <label for="inputPrice" class="form-label">Mode de Paiement</label>#}
{#                                        {{ form_widget(f.modepaiement ,  {'attr': {'class': 'form-control'}}) }}#}
{#                                    </div>#}
                                        <div class="d-grid">
                                            <button type =submit href="{{ path('affichercommande') }}" type="button" class="btn btn-light">Modifier</button>
                                        </div>
                                    </div>
                                {{ form_end(f) }}
                                </div>
                            </div>
                        </div>

                    </div><!--end row-->
                </div>
            </div>
        </div>

    </div>
    </div>
    <!--end page wrapper -->
{% endblock %}