{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>EventId</th>
                <th>DateEvent</th>
                <th>Titre</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.eventId }}</td>
                <td>{{ event.dateEvent ? event.dateEvent|date('Y-m-d') : '' }}</td>
                <td>{{ event.titre }}</td>
                <td>{{ event.prix }}</td>
                <td> <img class="w-100" src="{{ asset('uploads/images/products/' ~ event.getImage()) }}"></td>
                <td>{{ event.description }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'eventId': event.eventId}) }}">Afficher</a>
                    <a href="{{ path('app_event_edit', {'eventId': event.eventId}) }}">Modifier</a>
                    <a href="{{ path('app_event_delete', {'eventId': event.eventId}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">Créer un nouveau évènement</a>
{% endblock %}
