{% extends 'front(soulayma).html.twig' %}



{% block title %}Produit index{% endblock %}




{% block home %}
    <html>
    <head>
    <style>
        .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    }

    .price {
    color: grey;
    font-size: 22px;
    }

    .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    }


    .card button:hover {
    opacity: 0.7;
    }

    </style>
    <body>


    <h1 style = "margin-top : 40px; text-align:center ;font-weight: bold; color:  #00A9CC">Liste des Produits</h1>

    <div class="container">
        <div class="row">
            <div class="col-3" >
                {% include 'produit/_filter.html.twig' with {form: form} only %}
            </div>


            <div class="col-9">


                {% for pp in p %}


                    <div class="card">
                        <img src="{{ asset('uploads/' ~ pp.getImage())  }}" height="300" width="297">
                        <h5 style="color: #18d26e" >Nom de Produit:</h5>
                        <h6> {{ pp.nom}}</h6>
                        <h5 style="color: #18d26e" >Categorie:</h5>
                        <h6>{{ pp.idCategorie.nom }}</h6>
                        <h5 style="color: #18d26e" >Promotion:</h5>
                        <h6>{{ pp.idpromotion.percentage }}%</h6>
                        <h5 style="color: #18d26e" >Prix:</h5>
                        <h5 class="price" style="float: left; display: inline-block;margin-right: 1em; text-decoration: line-through">{{ pp.prix }}TDN</h5>
                        <h6 class="price">{{ pp.prixfinale}}TDN</h6>
                        <h5 style="color: #18d26e" >Description:</h5>
                        <h6>{{ pp.description }}</h6>

                        {% if app.user %}
                        <li class="nav-item">
                                                <a href="{{path("add_one_to_cart", {id: pp.id})}}" class="btn btn-success">
                                                    <i class="bi bi-cart-plus"></i> Ajouter au panier
                                                </a>
                                            </li>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>

        </div>

    </div>



    </body>
    </html>

    <div style="margin-left: 35em">




<button type="button" class="btn btn-secondary"> {{ knp_pagination_render(p) }}   <div class="pagination">

</button>
    </div>
{% endblock %}
