{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block table %}
    
            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Utilisateurs</h6>
                         <a href="{{ path('app_utilisateur_new') }}"><i class="fa fa-plus"></i></a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover mb-0" name="usertable" id="usertable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Mot de passe</th>
                <th>Date de naissance</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Tentative</th>
                <th>UnlockDate</th>
                <th>Consulter</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.username }}</td>
                <td>{{ utilisateur.password }}</td>
                <td>{{ utilisateur.dateNaissance ? utilisateur.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.tentative }}</td>
                <td>{{ utilisateur.unlockDate ? utilisateur.unlockDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}"><i class="fa fa-eye"></i></a>
                </td>
                <td>
                    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}"><i class="fa fa-book"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
                        </table>

   
                </div>
            </div>
            </div>
            <!-- Recent Sales End -->
            <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                    {% for i in 1..nbrPage %}
                    <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/utilisateur/back/?page={{i}}">{{i}}</a></li>
                    {% endfor %}
                    </ul>
                </nav>
            
{% endblock %}

{% block search %}
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" method="post" type="text" id="searchBox" placeholder="Type to search..." oninput="textChanged()"/>
                </form>
                <script>
function textChanged(){
    // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("searchBox");
  filter = input.value.toUpperCase();
  table = document.getElementById("usertable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    if (!tr[i].classList.contains('header')) {
      td = tr[i].getElementsByTagName("td"),
      match = false;
      for (j = 0; j < td.length; j++) {
        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
          match = true;
          break;
        }
      }
      if (!match) {
        tr[i].style.display = "none";
      } else {
        tr[i].style.display = "";
      }
    }
  }
}
</script>

{% endblock %}

{% block form %}
{% endblock %}
{% block salesRevenue %}
{% endblock %}
{% block salesChart %}
{% endblock %}
{% block messages %}
{% endblock %}



    