{% extends 'base.html.twig' %}

{% block title %}Produitcommande index{% endblock %}

{% block body %}
    <h1>Produitcommande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produitcommande in produitcommandes %}
            <tr>
                <td>{{ produitcommande.id }}</td>
                <td>{{ produitcommande.quantite }}</td>
                <td>
                    <a href="{{ path('app_produitcommande_show', {'id': produitcommande.id}) }}">show</a>
                    <a href="{{ path('app_produitcommande_edit', {'id': produitcommande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produitcommande_new') }}">Create new</a>
{% endblock %}
