{% extends 'base.html.twig' %}

{% block title %}Produitcommande{% endblock %}

{% block body %}
    <h1>Produitcommande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produitcommande.id }}</td>
            </tr>
            <tr>
                <th>Id_commande</th>
                <td>{{ produitcommande.idCommande }}</td>
            </tr>
            <tr>
                <th>Id_produit</th>
                <td>{{ produitcommande.idProduit }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ produitcommande.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produitcommande_index') }}">back to list</a>

    <a href="{{ path('app_produitcommande_edit', {'id': produitcommande.id}) }}">edit</a>

    {{ include('produitcommande/_delete_form.html.twig') }}
{% endblock %}
