{% extends 'front(soulayma).html.twig' %}

{% block title %}Liste des Blogs{% endblock %}

{% block aboutUs %}

    <h1>Les Blogs:</h1>
    {% for message in app.flashes('info') %}
        <div class="alert alert-success">
            {{ message }}
        </div>

    {% endfor %}
    <table class="table" border="1">
        <thead>

        <tr>

            <th>Titre</th>
            <th>Sujet</th>
            <th>Contenu</th>
            <th>Date</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>

                <td>{{ blog.titre }}</td>
                <td>{{ blog.sujet }}</td>
                <td>{{ blog.contenu }}</td>
                <td>{{ blog.date|date }}</td>
                <td>
                    <a href="{{ path('AfficheCmntFront', {'blogID': blog.id}) }}"><input type="submit" value="Afficher les Commentaires" class="btn btn-primary rounded-pill m-2"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <td><a href="{{ path('listp') }}"  class="btn btn-primary w-100 m-2">Imprimer PDF</a> </td>
    <td><a href="{{ path('excel') }}"  class="btn btn-primary w-100 m-2">Excel</a> </td>
    {{ knp_pagination_render(blogs) }}
{% endblock %}


{% block home %}
{% endblock %}
{% block services %}
{% endblock %}
{% block features %}
{% endblock %}
{% block testimonials %}
{% endblock %}
{% block portfolio %}
{% endblock %}
{% block team %}
{% endblock %}
{% block pricing %}
{% endblock %}
{% block faq %}{% endblock %}
{% block contactus %}
{% endblock %}