{% extends 'front.html.twig' %}
{% block body %}
{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}




    <div class="form-group">

{#        <p>MODE DE PAIEMENT :</p>#}
{#        <div>#}
{#            <input type="radio" id="modePayment"#}
{#                   name="modePayment" value="chéque/ mandat">#}
{#            <label for="contactChoice1">chéque/ mandat</label>#}

{#            <input type="radio" id="modePayment"#}
{#                   name="modePayment" value="Paiement a la livraison">#}
{#            <label for="modePaymentChoice2">Paiement a la livraison</label>#}

{#            <input type="radio" id="modePayment"#}
{#                   name="modePayment" value="Paiement par carte bancaire">#}
{#            <label for="modePaymentChoice3">Paiement par carte bancaire</label>#}
{#        </div>#}

        </form>
        {{ form_label(form.modePayment, "MODE DE PAIEMENT ") }}
        {{ form_errors(form.modePayment) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.modePayment, {'attr':{'class':'form-control col-sm-10'}}) }}
    </div>
    <form action="/checkout" method="POST">
        <button type="submit" class="btn btn-primary btn-lg">Passer la commande</button>
    </form>

{{ form_end(form) }}
{% endblock %}