{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ReservId</th>
                <th>NbPlaces</th>
                <th>DateAchat</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.reservId }}</td>
                <td>{{ reservation.nbPlaces }}</td>
                <td>{{ reservation.dateAchat ? reservation.dateAchat|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.total }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'reservId': reservation.reservId}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'reservId': reservation.reservId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
